<mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="toggle">
    <mat-button-toggle value ="home" [routerLink]="['/home']">
        <i class="fas fa-graduation-cap"></i>
    </mat-button-toggle>
    <mat-button-toggle value="angular" [routerLink]="['/angular']">Angular</mat-button-toggle>
    <mat-button-toggle value="design patterns">Design patterns</mat-button-toggle>
    <mat-button-toggle value="clean code">Clean code</mat-button-toggle>
</mat-button-toggle-group>

<a routerLink="/home" routerLinkActive="active">
    
</a>
